@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
}

html {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  color: #ffffff;
  background-color: #181818;
}

h1 {
  font-size: 34px;
  line-height: 34px;
  align-self: flex-start;
}

body {
  padding: 15px;
}

p {
  font-size: 16px;
  line-height: 27.2px;
  align-self: flex-start;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer {
  font-family: 'Montserrat-Bold';
  font-weight: 900;
  font-size: 39px;
}

.colon {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

.okey {
  font-size: 62px;
}

.marks {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

.quotes {
  text-align: center;
}

.yamaguchi {
  font-size: 50px;
}

.container {
  /* overflow: hidden; */
  max-width: 290px;
}

.hole {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 0% 0% 50% 50% / 0% 0% 16% 16%;
  height: 500px;
}

.girl {
  position: absolute;
  bottom: -100vh;
  animation: girl 6.2s;
  animation-fill-mode: forwards;
  z-index: 2;
  max-width: 290px;
}

.black-hole {
  position: absolute;
  bottom: -1px;
  animation: hole 5s;
  animation-fill-mode: forwards;
  border-radius: 70%;
  background-color: #000000;
  left: 50%;
  transform: translateX(-50%);
}

.container-mobile {
  height: 450px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.mobile {
  transform: rotate(5deg) scale(1.4);
  position: relative;
  left: 10px;
}

@keyframes hole {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 210px;
    height: 75px;
  }

  100% {
    width: 100px;
    height: 35px;
  }
}

@keyframes girl {
  from {
    bottom: -700px;
  }
  to {
    bottom: 0px;
  }
}
