@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.ttf');
}

html {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  color: #ffffff;
}

h1 {
  font-size: 34px;
  line-height: 34px;
  align-self: flex-start;
}

body {
  padding: 15px;
  background-color: #181818;
}

p {
  font-size: 16px;
  line-height: 27.2px;
  align-self: flex-start;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer {
  font-family: 'Montserrat-Bold';
  font-weight: 900;
  font-size: 39px;
  align-items: flex-start;
  width: 100%;
}

.colon {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

.okey {
  font-size: 62px;
}

.marks {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}

.quotes {
  text-align: center;
}

.yamaguchi {
  font-size: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hole {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
  min-height: 400px;
  width: 210px;
  /* background-color: blue; */
}

.black-hole {
  position: absolute;
  bottom: 0px;
  border-radius: 70%;
  background-color: #000000;
  left: 50%;
  transform: translateX(-50%);
  animation: holeBig 3s;
  animation-fill-mode: forwards;
}

.girl {
  object-fit: cover;
  position: absolute;
  bottom: -700px;
  z-index: 2;
}

.container-mobile {
  height: 450px;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
}

.mobile {
  /* transform: scale(1.2); */
  object-fit: cover;
  max-width: 450px;
  max-height: auto;
  position: relative;
  left: 18px;
}

@keyframes holeBig {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 70%;
    height: 13%;
  }
}

@keyframes holeSmall {
  0% {
    width: 70%;
    height: 13%;
  }

  100% {
    width: 30%;
    height: 5%;
  }
}

@keyframes girl {
  from {
    bottom: -100vh;
  }
  to {
    bottom: 20px;
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-4px);
  }

  75% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .mobile {
    max-width: 500px;
  }
}

@media (min-width: 1920px) {
  body {
    padding: 0px;
    background-image: radial-gradient(
      circle at center,
      rgba(173, 173, 173, 0.1) 2px,
      transparent 0
    );
    background-size: 30px 30px;
    background-repeat: round;
  }

  .wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: 0.2fr 0.5fr 0.7fr 0.5fr 0.5fr 0.2fr / 0.1fr 1.05fr 2fr 0.1fr;
    column-gap: 2%;
    row-gap: 2%;
    /* height: 100vh; */
  }

  h1 {
    grid-column: 2;
    grid-row: 2;
    font-size: 56px;
    line-height: 50px;
  }

  p {
    font-size: 22px;
    line-height: 37.4px;
  }

  .p1 {
    grid-column: 2;
    grid-row: 3;
  }

  .p2 {
    grid-column: 2;
    grid-row: 4;
  }

  .footer {
    grid-column: 2 / 4;
    grid-row: 5;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    max-width: 100%;
    grid-column: 3;
    grid-row: 2 / span 4;
  }

  .mobile {
    transform: scale(1.7);
  }

  .hole {
    width: 490px;
    height: 900px;
  }

  .girl {
    bottom: -900px;
  }

  .low-part {
    padding-left: 60px;
  }
}
